name: Docker Image CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
                
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v1
        with:
          platforms: all

      - name: Set up Docker Buildx
        id: buildx
        uses: docker/setup-buildx-action@v1
        with:
          version: latest
      
      - name: Login to Docker Hub
        run: docker login --username ${{ secrets.DOCKERHUB_LOGIN }} --password ${{ secrets.DOCKERHUB_TOKEN }}
          
      - name: Run Buildx
        run: |
          docker buildx build --platform linux/amd64,linux/arm64,linux/386,linux/arm/v7,linux/arm/v6 \
            --push . -t salutuj/lighttpd:latest -t salutuj/lighttpd:1.4.64-r0                      
